* {
  box-sizing: border-box;
  font-size: 24px;
}
body {
  background-color: rgb(205, 160, 247);
  font-family: monospace;
}
h1,
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  text-align: center;
  margin-bottom: -0.5rem;
}

button,
input[type="text"] {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 3px;
  font-size: 18px;
}

button {
  background-color: rgb(191, 154, 252);
  cursor: pointer;
}
